@tailwind base;
@tailwind components;
@tailwind utilities;

.image-reveal {
  mask-image: url(/smoke_sprites.webp);
  mask-size: 100% 4800%;
  mask-position: 0 0;
  animation: mask-reveal 2s 0s steps(47) forwards, mmfadeIn-noScale 1s cubic-bezier(0, 0, 0.2, 1) 0s both;
}

.visible.image-reveal {}

@keyframes mmfaadeIn-noScale {
  0% {
    opacity: 0;

  }

  100% {
    opacity: 1;
  }
}

@keyframes mask-reveal {
  0% {
    -webkit-mask-position: 0 0;
    mask-position: 0 0;
  }

  100% {
    -webkit-mask-position: 0 100%;
    mask-position: 0 100%;
  }
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}